@import './_variables.scss';

.app {
    .header {
       color: $header-color;
    }
    .footer {
        color: $footer-color;
    }
    .home {
        color: $home-color;
    }
}

.card-course-item {
    margin-top: 16px;
    margin-right: 16px;
    width: 18rem;
    img {
        width: 100%;
        height: 18rem;
    }
}