@import './_variables.scss';

.app {
    .header {
       color: $header-color;
       min-height: fit-content;
       font-size: 1.2rem;
       font-weight: bold;

       .logo-nav {
        font-size: 2rem;
       }
    }
    .footer {
        color: $footer-color;
    }
    .home {
        color: $home-color;
    }
}

.container {
  max-width: 85% !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.card-course-item {
    margin-top: 16px;
   
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 4px;
}

.checkbox-select-all {
    width: 160px;
    margin: 0 16px;
}