<nav class="header navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container">
   <a class="navbar-brand logo-nav" href="/">Viet's Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <img src="https://cafefcdn.com/zoom/700_438/203337114487263232/2022/3/3/photo1646280815645-1646280816151764748403.jpg" alt="" class="user-avatar">
          Hoang Viet
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/courses/create">Đăng ký khóa học</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/me/courses">Khóa học của tôi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/me/news">Bài đăng của tôi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/">Đăng suất</a>
        </div>
      </li>
    </ul>
  </div>
 </div>
</nav>